/* nav bar bc  */
header {
 
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.navbar,
.nav-phone {
  justify-content: space-between;
  border-radius: 15px;
  position: absolute;
  top: 2rem;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  background-color: #171b25;
  backdrop-filter: blur(10px);
  padding: 15px;
  box-shadow: 0 4px 30px #0000001a;
  z-index: 1000;
  border: 0.5px solid #426dc5;
}

/* h1  teaxt  */
.navbar h1,
.nav-phone h1 {
  font-size: 28px;
  font-weight: 500;
  background: linear-gradient(to right, #426dc5, #5dc2bc); /* دمج اللونين */
  -webkit-background-clip: text; /* جعل التأثير يعمل على النص فقط */
  color: transparent; /* إخفاء النص الأصلي */
}
.ul-nav {
  list-style: none;
  gap: 20px;
}
.active {
  color: var(--blue--) !important;
}
.ul-nav li a,
.ul-phone a {
  text-decoration: none;
  font-size: 16px;
  color: #ffffffdb;
  padding: 10px;
  transition: 1s;
}

.ul-nav li a:hover,
.ul-phone a:hover {
  text-decoration: none;
  color: var(--blue--) !important;
  padding: 10px;
}
.ul-nav button {
  padding: 10px;
  font-size: 20px;
  width: 10rem;
  color: #000;
  border: none;
  background-color: #bad7f5;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
}
.ul-nav button:hover,
.ul-phone button:hover {
  background: linear-gradient(to right, var(--blue--), #0000009f);
  color: #fff;
}
/* ///////////////////////////////////////////////////////////////  end nav bc /////////////////////////////////////////////////////*/
/* start nav phone  */
.icon {
  color: #426dc5;
  font-size: 2.5rem !important;
  display: none !important;
}

.nav-phone {
  display: none;
  justify-content: space-between;
}

.ul-phone {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  width: 100%;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  list-style: none;
}

.icon:hover + .ul-phone, .icon:active + .ul-phone ,
.ul-phone:hover   {
  display: block;
}

.ul-phone li {
  padding: 10px;
  text-align: start;
  background-color: #171b25;
}

.ul-phone li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
button {
  padding: 10px;
  font-size: 20px;
  width: 10rem;
  color: #000;
  border: none;
  background-color: #bad7f5;
  border-radius: 5px;
  cursor: pointer;
  transition: 1s;
  width: 100%;
}

@media (max-width: 750px) {
  .nav-phone {
    display: flex;
  }
  .nav-phone .icon {
    display: block !important;
  }
  .navbar {
    display: none;
  }
}
